* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
}

.logo img {
    display: block;
    width: 30%;
    height: auto;
    margin: 20px auto 0;
}

@media (max-width: 1280px) {
    .logo img {
        width: 40%;
    }
}

@media (max-width: 750px) {
    .logo img {
        width: 90%;
    }
}

